div {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    float: left;
}

#to {
    background: lightblue;
}

#child {
    margin: auto;
    width: 100px;
    height: 100px;
    background: green;
}

